.my_card{
    width: 250px;
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid black;
}
.my_card img{
    width: 50%;
    margin: auto;
    display: block;
}

.my_card p{
    text-align: center;
}