<div class="basket-item">
    <img class="product-image" [src]="oneBasketItem.product.image" alt="Product Image">
    <div class="product-details">
      <p class="product-name">{{oneBasketItem.product.name}}</p>
      <p class="product-price">${{oneBasketItem.price}}</p>
      <p class="product-quantity">Quantity: {{oneBasketItem.quantity}}</p>
    </div>
    <div class="quantity-container">
      <button class="quantity-btn" [disabled]="disabledBtn" (click)="onProductUpdateBtnClick('minus')">-</button>
      <button class="quantity-btn" [disabled]="disabledBtn" (click)="onProductUpdateBtnClick('plus')">+</button>
    </div>
    <button class="remove-btn" [disabled]="disabledBtn" (click)="onRemoveProductBtnClick()">Remove</button>
  </div>
  