<app-product-filter [categoryArray]="categoryArray" 
(filterFormEmitter)="filterFormEmitterSub($event)"
(filterResetEvent)="filterResetEventSub()"
></app-product-filter>


<ng-container *ngIf="productsArray.length > 0;else emptyArray">
    <div class="d-flex flex-wrap justify-content-center gap-5">
        <ng-container *ngFor="let product of productsArray">
            <app-product (addToBasketEmitter)="addToBasketEmitterSub($event)" [product]="product"></app-product>
        </ng-container>
    </div>
</ng-container>


<ng-template #emptyArray>
<h1>Products not found</h1>
</ng-template>