<app-form (formValueEmitter)="formValueEmitterSub($event)"></app-form>




<div class="d-flex justify-content-center">
    <button mat-raised-button
    (click)="onClick()"
    color="warn"
            matTooltip="ნავიგაციისთვის">
      ნავიგაცია
    </button>
</div>

<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
      <mat-option value="asf">asf</mat-option>
      <mat-option value="asf">asf</mat-option>
      <mat-option value="asf">asf</mat-option>
      
    
  </mat-select>
</mat-form-field>

<h4>Basic native select</h4>
<mat-form-field>
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<div class="d-flex flex-wrap mt-5 gap-5 justify-content-center">
    <ng-container *ngIf="array.length > 0">
    <ng-container *ngFor="let item of array">
    <app-card [card]="item"></app-card>
    </ng-container>
    </ng-container>
</div>