<div class="product">
    <img [src]="product.image" [alt]="product.name" class="product-image" />
    <div class="product-details">
      <h1 class="product-name">{{ product.name }}</h1>
      <p class="product-price">${{ product.price }}</p>
      <p class="product-category">Category: {{ product.categoryId }}</p>
      <p class="product-vegetarian">Vegetarian: {{ product.vegeterian ? 'Yes' : 'No' }}</p>
      <p class="product-nuts">Contains Nuts: {{ product.nuts ? 'Yes' : 'No' }}</p>
      <p class="product-spiciness">Spiciness: {{ product.spiciness === 0 ? 'None' : product.spiciness }}</p>
      <button class="btn btn-primary  mt-2" (click)="onAddToBasketBtnClick(product)">add to basket</button>
    </div>
  </div>
  