<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)" class="container mt-4">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" ngModel>
    </div>
  
    <div class="mb-3">
      <label for="lastname" class="form-label">Lastname</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter your lastname" name="lastname" ngModel>
    </div>
  
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="status" name="status" ngModel>
        <option value="ACTIVE">ACTIVE</option>
        <option value="NOTACTIVE">NOTACTIVE</option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  