
.mat-mdc-dialog-container .mdc-dialog__surface{
    background-color: white !important;
}
.custom-dialog-backdrop-class{
    background-color: rgba(137, 134, 134, 0.415) !important
}
mat-label{
    color: white !important
}
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */



.ng-invalid.ng-dirty:not(form):not([ngModelGroup]){
    border:1px solid red ;
    outline: none;
}